QPushButton[class="unassigned"] {
    border: 1px solid #33ccff;
    background-color: rgba(30, 30, 30, 0.3);
}

QPushButton[class="unassigned highlight"] {
    border: 2px solid #53790e;
    background-color: rgba(50, 100, 200, 0.5);
}
